#tabbrowser-tabs {
  visibility: collapse;
}
#TabsToolbar-customization-target { display: none !important; }
#titlebar #TabsToolbar {
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
  padding-top: 5px;
}
#sidebar-header {
  font-size: 1em !important;
  padding: 5px 2px 5px 13px !important;
}